<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">
    <link rel="stylesheet"
        href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css"
        integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">
</head>

<body>
    <!-- dark -->
    <ul class="nav nav-tabs bg-dark">
        <li class="nav-item">
            <a class="nav-link active " href="#">Image Processing</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Testing</a>
        </li>

    </ul>
    <div class="container">
        <div class="form-group">
            <div class="center-block">

                <form action="http://127.0.0.1:5000/store" method="POST" enctype="multipart/form-data">


                    <input type="file" class="form-control-file" id="gambar" name="gambar" onchange="preview_image(event)">
                    <div id="img-wrapper">
                        <img id="img-pre" src="" alt="">
                    </div>
                    <button type="submit" class="btn btn-raised btn-primary">submit</button>

                </form>




            </div>


        </div>

    </div>


</body>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
</script>
<script src="https://unpkg.com/popper.js@1.12.6/dist/umd/popper.js"
    integrity="sha384-fA23ZRQ3G/J53mElWqVJEGJzU0sTs+SvzG8fXVWP+kJQ1lwFAOkcUOysnlKJC33U" crossorigin="anonymous">
</script>
<script src="https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js"
    integrity="sha384-CauSuKpEqAFajSpkdjv3z9t8E7RlpJ1UP0lKM/+NdtSarroVKu069AlsRPKkFBz9" crossorigin="anonymous">
</script>

<script type="text/javascript" src="{{url_for('static',filename='js/main.js')}}"></script>

</html>